<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/stle.css">
</head>
<body>
   <nav class="navbar background">

        <div class="logo">
            <div class="logos">
                <img src="images/deal.png" alt="">
                <span>Canan Dev</span>
            </div>
            <p>Web Dev!</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#about">About</a></li> -->
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contacts">Contact</a></li>
            <!-- <li><a href="#">List</a>
            <ul class="dropdown">
                <li><a href="#">html</a></li>
                <li><a href="#">css</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
            </li> -->
            <li><a href="/project">Projct</a></li>
            <li><a href="/reviews">Reviews</a></li>
        </ul>
        <!-- <div class="rightnav">
            <input type="search" name="search" id="search" placeholder="Seaech Website">
            <button type="button" class="btn-sm">Search</button>
        </div> -->
    </nav>
    <section class="containers">
        <div class="abouts">
            <div class="about-box">
                <div class="about-img">
                    <img src="/static/images/aboutme3.png" alt="">
                </div>
                <div class="about-info">
                    <h2>About Info</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum repellat, minima quis dolores, dolore dicta soluta placeat fuga hic corporis eius, odio numquam autem molestiae dolorum voluptatum quae facilis illo nulla quisquam sequi nesciunt sit doloribus laborum! Facere ullam voluptatum quam ducimus quisquam vero. Natus magni quam quia dolorem alias!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dignissimos culpa sunt cumque nemo, aspernatur similique vel ducimus veniam laborum architecto reiciendis nisi molestias eveniet ex dicta rem iusto dolor eos numquam dolore? Ea libero commodi incidunt corporis sapiente reprehenderit labore sit modi, expedita recusandae. Veritatis, quos. Fugit, perspiciatis error!</p>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>