<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canone Devloper</title>
    <!-- <link rel="stylesheet" href="css/stle.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/stle.css"> -->
    <!-- <link rel="stylesheet" href="/css/stle.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/stle.css"> -->
    <link rel="stylesheet" href="/static/css/stle.css">

    <link rel="shortcut icon" href="./images/aboutme3.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar background">

        <div class="logo">
            <div class="logos">
                <img src="images/deal.png" alt="">
                <span>Canan Dev</span>
            </div>
            <p>Web Dev!</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#about">About</a></li> -->
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contacts">Contact</a></li>
            <!-- <li><a href="#">List</a>
            <ul class="dropdown">
                <li><a href="#">html</a></li>
                <li><a href="#">css</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
            </li> -->
            <li><a href="/project">Projct</a></li>
            <li><a href="/reviews">Reviews</a></li>
        </ul>
        <!-- <div class="rightnav">
            <input type="search" name="search" id="search" placeholder="Seaech Website">
            <button type="button" class="btn-sm">Search</button>
        </div> -->
    </nav>
    <section class="firSection background">
        <div class="main-head">
            <h1>We Make Really Hard
                Stuff Easy to Understand

            </h1>
            <p class="text-sm"> Customizable learning tools
                for your high-stakes exam
            </p>
            <button class="btn">Explore our Product</button>
            <p class="text-para">See our job openings</p>
        </div>
        <div class="company_news">
            <p class="company_head">COMPANY NEWS</p>
            <p>Announcing the launch of our new Digital SAT® product. <span>Learn More <i
                        class="fas fa-chevron-right"></i></span></p>
        </div>



    </section>

    <section class="secSection" id="about">
        <h1 class="h1">About Us</h1>
        <p class="sm-para">Grow Your Developer Width Us</p>
        <div class="container">
            <img src="images/aboutme3.png" alt="">
            <div class="user-info">
                <h1 class="h1">Hello I am <span style="color: red;"> Mern </span> Stack Developer !</h1>
                <p class="user-prof">We are the professional developer</p>

                <p class="user-desc">Welcome To <span style="color: red;"> Thapa Technical. </span> Professional
                    Development, Also Known As Professional Education, Is Learning That Leads To Or Emphasizes Education
                    In A Specific Professional Career Field Or Builds Practical Job Applicable Skills Emphasizing Praxis
                    In Addition To The Transferable Skills And Theoretical Academic Knowledge Found In Traditional
                    Liberal Arts And Pure Sciences Education</p>
                <button type="button" class="btn">Read More</button>
            </div>
        </div>




    </section>


    <section id="services" class="service-style">
        <h1 class="h1">Services</h1>
        <div class="container-ser">


            <div class="box">
                <div class="icon">
                    <a href="#"><i class="fab fa-html5"></i></a>
                </div>
                <h2>Html</h2>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus veritatis suscipit odit quaerat
                    totam eveniet. Vel, perspiciatis voluptates ab expedita quidem optio quis obcaecati, culpa
                    consequuntur asperiores, eos natus itaque?</p>
            </div>
            <div class="box">
                <div class="icon">
                    <a href="#"><i class="fab fa-css3-alt"></i></a>
                </div>
                <h2>Css</h2>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus veritatis suscipit odit quaerat
                    totam eveniet. Vel, perspiciatis voluptates ab expedita quidem optio quis obcaecati, culpa
                    consequuntur asperiores, eos natus itaque?</p>
            </div>
            <div class="box">
                <div class="icon">
                    <a href="#"><i class="fab fa-js-square"></i></a>
                </div>
                <h2>JavaScript</h2>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus veritatis suscipit odit quaerat
                    totam eveniet. Vel, perspiciatis voluptates ab expedita quidem optio quis obcaecati, culpa
                    consequuntur asperiores, eos natus itaque?</p>
            </div>

        </div>
        <div class="container-ser">


            <div class="box">
                <div class="icon">
                    <a href="#"><i class="fab fa-node-js"></i></a>
                </div>
                <h2>Node Js</h2>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus veritatis suscipit odit quaerat
                    totam eveniet. Vel, perspiciatis voluptates ab expedita quidem optio quis obcaecati, culpa
                    consequuntur asperiores, eos natus itaque?</p>
            </div>
            <div class="box">
                <div class="icon">
                    <a href="#"><i class="fab fa-react"></i></a>
                </div>
                <h2>React js</h2>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus veritatis suscipit odit quaerat
                    totam eveniet. Vel, perspiciatis voluptates ab expedita quidem optio quis obcaecati, culpa
                    consequuntur asperiores, eos natus itaque?</p>
            </div>
            <div class="box">
                <div class="icon">
                    <a href="#"><i class="fas fa-database"></i></a>
                </div>
                <h2>Mongo Db</h2>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus veritatis suscipit odit quaerat
                    totam eveniet. Vel, perspiciatis voluptates ab expedita quidem optio quis obcaecati, culpa
                    consequuntur asperiores, eos natus itaque?</p>
            </div>

        </div>


    </section>
    <section>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3620.8751747264223!2d67.06517297510386!3d24.83394204631872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33d684c868ed7%3A0x83a6f3627b0a4831!2sRobab%20Enterprises%20Office!5e0!3m2!1sen!2s!4v1705686428677!5m2!1sen!2s"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section id="contacts" class="contact-style">
        <h1 class="h1">Contac Us</h1>
        <p class="sm-para">We Will Be Happy Help To You</p>
        <div class="row">
            <form action="/contact" method="post">
                <!-- <div class="inputFiled"> -->
                <label for="Name">Name:</label>
                <input type="text" name="name" id="" placeholder="Your name *" required>
                <!-- </div> -->

                <!-- <div class="inputFiled"> -->
                <label for="Email">Email:</label>
                <input type="email" name="email" id="" placeholder="Email Address *" required autocomplete="off">
                <!-- </div> -->

                <!-- <div class="inputFiled"> -->
                <label for="Phone">Phone:</label>
                <input type="tel" name="phone" id="" placeholder="Phone number *" required autocomplete="off">
                <!-- </div> -->
                <!-- <div class="inputFiled"> -->
                <label for="Message">Message:</label>
                <input type="text" name="message" id="" placeholder="message">
                <!-- </div> -->
                <button type="submit" class="btn btn-sig" value="Sign In">Sign In</button>



            </form>
            <a href="#"><i class="fas fa-angle-up"></i></a>

        </div>
    </section>

    <footer>
        <p>Copy right all right are reserved www.UWorld.com 2020</p>
    </footer>

    <!-- <script src="js/script.js"></script> -->
    <!-- <script src="../static/js/script.js"></script> -->
    <script src="../static/js/script.js"></script>

</body>

</html>