<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canans Projects</title>
    <!-- <link rel="stylesheet" href="/static/css/stle.css"> -->
    <link rel="stylesheet" href="../static/css/stle.css">


    <link rel="shortcut icon" href="./images/aboutme3.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar background">

        <div class="logo">
            <div class="logos">
                <img src="images/deal.png" alt="">
                <span>Canan Dev</span>
            </div>
            <p>Web Dev!</p>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <!-- <li><a href="#about">About</a></li> -->
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="#contacts">Contact</a></li>
            <!-- <li><a href="#">List</a>
            <ul class="dropdown">
                <li><a href="#">html</a></li>
                <li><a href="#">css</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
            </li> -->
            <li><a href="#">Projct</a></li>
            <li><a href="#">Reviews</a></li>
        </ul>
        <!-- <div class="rightnav">
            <input type="search" name="search" id="search" placeholder="Seaech Website">
            <button type="button" class="btn-sm">Search</button>
        </div> -->
    </nav>
    <section class="bg-project">
        <h1>My Project</h1>
        <div class="containers">
            <div class="tab-nav">
                <ul>
                    <li><a>All</a></li>
                    <li><a>Landing Page</a></li>
                    <li><a>Webistes</a></li>
                    <li><a>Full Stack</a></li>
                </ul>
            </div>
            <div class="project-content">
                <div>
                    <div class="project-box">
                    <div class="project-img">
                        <img src="0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <h1>Procject 01</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tempora laboriosam amet unde,
                        aliquid libero numquam. Odit nisi possimus dicta!</p>
                </div>
                 <div class="project-box">
                    <div class="project-img">
                        <img src="0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <h1>Procject 01</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tempora laboriosam amet unde,
                        aliquid libero numquam. Odit nisi possimus dicta!</p>
                </div>
                </div>
                <div>
                    <div class="project-box">
                    <div class="project-img">
                        <img src="0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <h1>Procject 01</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tempora laboriosam amet unde,
                        aliquid libero numquam. Odit nisi possimus dicta!</p>
                </div>
                 <div class="project-box">
                    <div class="project-img">
                        <img src="0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <h1>Procject 01</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tempora laboriosam amet unde,
                        aliquid libero numquam. Odit nisi possimus dicta!</p>
                </div>
                </div>
                <div>
                    <div class="project-box">
                    <div class="project-img">
                        <img src="0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <h1>Procject 01</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tempora laboriosam amet unde,
                        aliquid libero numquam. Odit nisi possimus dicta!</p>
                </div>
                 <div class="project-box">
                    <div class="project-img">
                        <img src="0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <h1>Procject 01</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tempora laboriosam amet unde,
                        aliquid libero numquam. Odit nisi possimus dicta!</p>
                </div>
                </div>
                
            </div>
        </div>

    </section>
</body>

</html>