<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar background">

        <div class="logo">
            <div class="logos">
                <img src="images/deal.png" alt="">
                <span>Canan Dev</span>
            </div>
            <p>Web Dev!</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#about">About</a></li> -->
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contacts">Contact</a></li>
            <!-- <li><a href="#">List</a>
            <ul class="dropdown">
                <li><a href="#">html</a></li>
                <li><a href="#">css</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
            </li> -->
            <li><a href="/project">Projct</a></li>
            <li><a href="/reviews">Reviews</a></li>
        </ul>
        <!-- <div class="rightnav">
            <input type="search" name="search" id="search" placeholder="Seaech Website">
            <button type="button" class="btn-sm">Search</button>
        </div> -->
    </nav>
</body>
</html>